@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
*{
    box-sizing: border-box;
}
body::before{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url(images/rome.jpg);
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
    
}
.box{
    display: block;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 5px 15px;
    width: 70vw;
    height: 20vh;
    position: relative;
    overflow: hidden;
    top: 5%;
    background-color:white;
    border-radius: 5px;
}
.logo{
    color:rgb(255, 117, 124);
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 1.5rem ;
    position: relative;
    right: 35%;
    text-transform: uppercase;
    top: -1%;
}
.fares{
    color: white;
}
h1{
    margin: auto;
    position: relative;
    left: 38%;
    top: 30px;
}
.nav{
    display: flex;
    font-size: 1.1rem;
    width: 500px;
    margin-bottom: 10%;
    
}
.menu{
    color: wheat;
    text-decoration: none;
    text-transform: uppercase;
    margin: auto;
    margin-top: -30px;
    margin-bottom: 20px;
    position: relative;
    right: -40%;
}
.menu:hover{
    text-decoration: none;
    color: #ff7200;
}
.icon{
    width: 40px;
    position: relative;
    top: 0.3rem;
}